spring:
  application:
    name: subscription-service

  datasource:
    url: jdbc:postgresql://localhost:15433/subscriptiondb
    username: subscription
    password: subscription123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8081